/* Ensure your navbar styles are here */
.navbar {
    min-height: 80px; /* Set your desired total navbar height here */
    padding-top: 0; /* Remove default top padding */
    padding-bottom: 0; /* Remove default bottom padding */
    /* You might need to adjust side padding if your layout changes */
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.alert-notify {
    display: flex !important;
    width: calc(100% - 30px);
    max-width: 600px;
    padding-right: 80px;
    color: rgba(255, 255, 255, .85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15)
}

    .alert-notify:hover {
        z-index: 1081 !important
    }

    .alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger):not(.alert-default) {
        background-color: rgba(0, 0, 0, .95)
    }

        .alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger):not(.alert-default) .alert-notify-close {
            color: #ffd600
        }

            .alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger):not(.alert-default) .alert-notify-close:hover {
                opacity: .8
            }

    .alert-notify .alert-icon.ni {
        position: relative;
        top: 4px
    }

    .alert-notify .alert-title {
        font-size: 1rem;
        font-weight: 600;
        display: block
    }

    .alert-notify .close {
        top: 1rem !important;
        right: 1.5rem !important;
        transform: translateY(0)
    }

.alert {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    border-radius: .375rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 600
}

.alert-dismissible {
    padding-right: 4.5rem
}

    .alert-dismissible .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        color: inherit
    }

.alert-primary {
    color: #fff;
    border-color: #7889e8;
    background-color: #7889e8
}

    .alert-primary a {
        font-weight: 600;
        color: #1d32aa
    }

        .alert-primary a:hover {
            color: #fff
        }

    .alert-primary hr {
        border-top-color: #6276e4
    }

    .alert-primary .alert-link {
        color: #324cdd
    }

.alert-secondary {
    color: #212529;
    border-color: #f8fbfc;
    background-color: #f8fbfc
}

    .alert-secondary a {
        font-weight: 600;
        color: #8dbece
    }

        .alert-secondary a:hover {
            color: #212529
        }

    .alert-secondary hr {
        border-top-color: #e6f1f4
    }

    .alert-secondary .alert-link {
        color: #d2e3ee
    }

.alert-success {
    color: #fff;
    border-color: #4fd69c;
    background-color: #4fd69c
}

    .alert-success a {
        font-weight: 600;
        color: #1a724c
    }

        .alert-success a:hover {
            color: #fff
        }

    .alert-success hr {
        border-top-color: #3ad190
    }

    .alert-success .alert-link {
        color: #24a46d
    }

.alert-info {
    color: #fff;
    border-color: #37d5f2;
    background-color: #37d5f2
}

    .alert-info a {
        font-weight: 600;
        color: #097487
    }

        .alert-info a:hover {
            color: #fff
        }

    .alert-info hr {
        border-top-color: #1fd0f0
    }

    .alert-info .alert-link {
        color: #0da5c0
    }

.alert-warning {
    color: #fff;
    border-color: #fc7c5f;
    background-color: #fc7c5f
}

    .alert-warning a {
        font-weight: 600;
        color: #be2604
    }

        .alert-warning a:hover {
            color: #fff
        }

    .alert-warning hr {
        border-top-color: #fc6846
    }

    .alert-warning .alert-link {
        color: #fa3a0e
    }

.alert-danger {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676
}

    .alert-danger a {
        font-weight: 600;
        color: #ac0829
    }

        .alert-danger a:hover {
            color: #fff
        }

    .alert-danger hr {
        border-top-color: #f63e62
    }

    .alert-danger .alert-link {
        color: #ec0c38
    }

.alert-light {
    color: #fff;
    border-color: #bac1c8;
    background-color: #bac1c8
}

    .alert-light a {
        font-weight: 600;
        color: #677582
    }

        .alert-light a:hover {
            color: #fff
        }

    .alert-light hr {
        border-top-color: #acb4bd
    }

    .alert-light .alert-link {
        color: #919ca6
    }

.alert-dark {
    color: #fff;
    border-color: #45484b;
    background-color: #45484b
}

    .alert-dark a {
        font-weight: 600;
        color: #000
    }

        .alert-dark a:hover {
            color: #fff
        }

    .alert-dark hr {
        border-top-color: #393b3e
    }

    .alert-dark .alert-link {
        color: #0a0c0d
    }

.alert-default {
    color: #fff;
    border-color: #3c4d69;
    background-color: #3c4d69
}

    .alert-default a {
        font-weight: 600;
        color: #040608
    }

        .alert-default a:hover {
            color: #fff
        }

    .alert-default hr {
        border-top-color: #334159
    }

    .alert-default .alert-link {
        color: #0b1526
    }

.alert-white {
    color: #212529;
    border-color: #fff;
    background-color: #fff
}

    .alert-white a {
        font-weight: 600;
        color: #b3b3b3
    }

        .alert-white a:hover {
            color: #212529
        }

    .alert-white hr {
        border-top-color: #f2f2f2
    }

    .alert-white .alert-link {
        color: #e6e6e6
    }

.alert-neutral {
    color: #212529;
    border-color: #fff;
    background-color: #fff
}

    .alert-neutral a {
        font-weight: 600;
        color: #b3b3b3
    }

        .alert-neutral a:hover {
            color: #212529
        }

    .alert-neutral hr {
        border-top-color: #f2f2f2
    }

    .alert-neutral .alert-link {
        color: #e6e6e6
    }

.alert-darker {
    color: #fff;
    border-color: #292929;
    background-color: #292929
}

    .alert-darker a {
        font-weight: 600;
        color: #000
    }

        .alert-darker a:hover {
            color: #fff
        }

    .alert-darker hr {
        border-top-color: #1c1c1c
    }

    .alert-darker .alert-link {
        color: #000
    }


button.close {
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.close {
    transition: all .15s ease;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    float: right;
    opacity: .5;
    color: rgba(0, 0, 0, .6);
    text-shadow: none;
}