/* Ensure your navbar styles are here */
.navbar {
    min-height: 80px; /* Set your desired total navbar height here */
    padding-top: 0; /* Remove default top padding */
    padding-bottom: 0; /* Remove default bottom padding */
    /* You might need to adjust side padding if your layout changes */
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

