@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Css {
    <style>
        .hero-image img {
            height: 80vh;
        }
    </style>
}

<body>
    <div class="row">
        <h1 class="display-10 text-dark">Welcome <a href="/User">User</a></h1>
        <div class="hero-image text-center">
            <img src="/images/home.jpg" alt="Alternate Text" />
        </div>
    </div>
</body>




