@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Css {
    <style>
        .hero-image img {
            height: 80vh;
        }
    </style>
}

<body>
    <div class="row">
        @* <h1 class="display-10 text-center mt-4" style="color: #00CED1;">Welcome to Qcounts!</h1> *@
        <div class="hero-image text-center">
            <img src="/images/Qcounts-Logo.png" alt="Alternate Text" />
        </div>
    </div>
</body>